.contactContainer {
    display: flex;
    // margin: 200px 0 200px 0;
    justify-self: unset;
    justify-content: space-around;
    background-color: black;
}
.formContainer {
    margin: 170px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px grey;
    color: rgb(41, 41, 41);
    background-color: whitesmoke;
    .formTitle {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }
    .underline {
        width: 100px;
        margin-bottom: 8px;
        border-bottom: solid 2px grey;
    }
    form {
        display: flex;
        width: 430px;
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        input {
            margin: 20px;
            border: none;
            color: rgb(41, 41, 41);
            font-family: 'Italiana', serif;
            border-bottom: solid 2px grey;
            text-transform: uppercase;
            background-color: white;
        }
        .nameEmailContainer {
            display: flex;
            justify-content: space-around;
        }
        select {
            margin: 20px;
            border: none;
            color: rgb(41, 41, 41);
            font-family: 'Italiana', serif;
            border-bottom: solid 2px grey;
            text-transform: uppercase;
            background-color: white;
        }
        textarea {
            margin: 20px;
            border: none;
            font-size: 17px;
            border-bottom: solid 2px grey;
            color: rgb(41, 41, 41);
            background-color: white;
        }
        .submitBTN {
            display: flex;
            padding: 10px;
            border-radius: 5px;
            border: solid 2px grey;
            background-color: white;
            color:rgb(41, 41, 41);
            background-color: white;
            &:hover {
                background-color: black;
                color: whitesmoke;
                transition: all 1s ease;
                
            }
        }
    }
}