
.footerContainer {
    height: 530px;
    color: whitesmoke;
    background: black;
    padding-top: 200px;
    .endPage {
        margin: 60px 0 60px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            font-family: 'Italiana', serif;
    }
    a {
        margin: 5px 5px 0 5px;
        display: inline-block;
    }

}
h5 {
    font-size: 25px;
}
h6 {
    display: flex;
    font-size: 15px;
    margin-right: 150px;
    justify-content: flex-end;
    font-family: 'Italiana', serif;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
