
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    // padding: 0;
    margin: 0;
}
// why wont this hover on load 
nav {
    // margin: 20px;
    background: #f9f9f9;
    .menuItems {
      list-style: none;
      display: flex;
      color: #8f8f8f;


      p {
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
        //   want this to be RAque but will deal with later 
          font-family: 'Playfair Display', serif;
          
      }
    //   need to justify content end or make it go to the right to split
   .links{
       display: flex;
       justify-content: end;
        li {
            margin: 50px;
            
            a {
            text-decoration: none;
            color: #8f8f8f;
            font-size: 24px;
            transition: all 0.5s ease-in-out;
            font-family: 'Playfair Display', serif;
    
                &::before {
                    content: attr(data-item);
                    transition: 0.5s;
                    color: #8f8f8f;
                    position: absolute;
                    overflow: hidden;
                }
    
                &:hover {
                    &::before {
                    width: 100%;
                    transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
  }
}