@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
body {
    background-color: #ed6335;
}
h4 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 0px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    
    .card {
        width: 250px;
        height: 400px;
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        color: rgb(75, 64, 64);
        background-color: #fbd266;
        font-family: 'Gilda Display', serif;
        &:hover {
            color: whitesmoke;
            background-color: #064c72;
            transform: scale(1.05);
            transition: all 0.5s ease;
            a {
                color: white;
                text-decoration: underline;
                transition: all 1s ease;
            }
            
        } 
        .cardTitle {
            display: flex;
            justify-content: center;
            margin: 2px;
        }
        .card_img {
            background-color: azure;
            height: 175px;
            margin-bottom: 15px;
            border-radius: 10px 10px 0 0;
            background-size: cover;
        }
        p {
            font-size: 12px;
            height: 140px;
            overflow-y: scroll;
            margin-bottom: 10px;
        }
        .card-1 {
            background-image: url("../images/filmSage.png");
        }
        .card-2 {
            background-image: url("../images/disneyPrincessCodeQuiz.png");
        }
        .card-3 {
            background-image: url("../images/passwordGenerator.png");
        }
        .card-4 {
            background-image: url("../images/booklasticBlog.png");
        }
        .card-5 {
            background-image: url("../images/weatherApp.png");
        }
        .card-6 {
            background-image: url("../images/E-commerce.png");
        }
        ul {
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

    }
}
